{{ define "header" }}


<!DOCTYPE html>
<html lang="en">
<head>  
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="/static/styles.css">
    <title>Проект, созданный студентами!</title>
</head>

<!-- <header style="
  background-image: url('https://avatars.mds.yandex.net/get-vertis-journal/3934100/red-shuheart-QdcjZppwMK8-unsplash.jpg_1736682648104/1600x1600');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 500px;
  margin: auto;"> -->

<!-- <div class="bg-slideshow"></div> -->
<div >

    
<div class="bg-slideshow">
  <h1 class="hh">TravelToTatarstan - see our culture!</h1>
    
        <nav class="main_nav">
            <div class="horizontal-items">
                <a href="/">Главная страница</a>
                <a href="/help_page">Нужна помощь?</a> 
                <a href="/settings_page">Настройки</a>
                <a href="/about_page">Информация о нас</a>
            </div>
        </nav>
    </div>
</div>
</header>


{{ end }}