{{ define "help_page" }}


{{ template "header" }}

 
</head>
<body>
    <div class="help-text">
        <p> Частозадаваемые вопросы: 
            <ul>
                <li>Когда обед? </li>
                <li>Когда закончится пара?</li>
                <li>Кто я?</li>
                <li>А?</li>
            </ul>
        </p>
    </div>


<style>
    .help-text{
        background-color: rgb(206, 66, 253);
        border-radius: 20px;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        margin-top: 20px;
        width: 400px;
        border-style: double;
    }
</style>

</body>

</html>

{{ template "footer" }}


{{ end }}